body{
margin:0;
background:#0f172a;
font-family:Arial;
color:white;
}

header{
background:#111827;
padding:20px;
text-align:center;
}

.online{
font-size:22px;
}

#online{
font-size:55px;
color:#22c55e;
}

.login-box{
width:300px;
margin:100px auto;
background:#1e293b;
padding:25px;
border-radius:20px;
text-align:center;
}

input{
width:90%;
padding:12px;
margin:10px 0;
border:none;
border-radius:10px;
}

button{
padding:12px 20px;
border:none;
border-radius:10px;
cursor:pointer;
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:20px;
text-align:center;
}

.shop{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.item{
background:#1e293b;
padding:15px;
border-radius:20px;
text-align:center;
}

.item img{
width:100%;
height:180px;
object-fit:cover;
border-radius:15px;
}

.actions{
padding:20px;
display:flex;
gap:15px;
justify-content:center;
}
